@model IEnumerable<amazon.Models.Comentario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-4">Comentarios</h1>

<p class="text-center mb-4">
    <a class="btn btn-success btn-lg" asp-action="Create">Brindar un comentario</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover shadow-sm rounded">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Texto)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Calificacion)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Servicio)
                </th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Texto)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Calificacion)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Servicio.Nombre)
                    </td>
                    <td class="text-center">
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

